<p id="notice"><%= notice %></p>

<h1>Listing User Workout Exercises</h1>

<table>
  <thead>
    <tr>
      <th>User workout</th>
      <th>Exercise</th>
      <th>Number of reps</th>
      <th>Number of sets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_workout_exercises.each do |user_workout_exercise| %>
      <tr>
        <td><%= user_workout_exercise.user_workout_id %></td>
        <td><%= user_workout_exercise.exercise_id %></td>
        <td><%= user_workout_exercise.number_of_reps %></td>
        <td><%= user_workout_exercise.number_of_sets %></td>
        <td><%= link_to 'Show', user_workout_exercise %></td>
        <td><%= link_to 'Edit', edit_user_workout_exercise_path(user_workout_exercise) %></td>
        <td><%= link_to 'Destroy', user_workout_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User workout exercise', new_user_workout_exercise_path %>
