<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :main_muscle %><br>
    <%= f.text_field :main_muscle %>
  </div>
  <div class="field">
    <%= f.label :other_muscles %><br>
    <%= f.text_field :other_muscles %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :e_type %><br>
    <%= f.text_field :e_type %>
  </div>
  <div class="field">
    <%= f.label :mechanics %><br>
    <%= f.text_field :mechanics %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
